.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  gap:20px;
}

.grid {
  width:100%;
  display:grid;
  grid-template-columns: 1fr 0 0;
  min-height:80vh;
}

.left {
  grid-column: 2/3;
  display:none;
  align-items:center;
  justify-content:center;
  height:100%;
}

.middle {
  grid-column:1/2;
  display:flex;
  justify-content:center;
  flex-direction:column;
  gap:52px;
}

.banner {
  display:flex;
  justify-content:center;
}

.right{
  display:none;
  align-items:center;
  grid-column:3/4;
}

.seeds{
  display:flex;
  gap:12px;
  flex-direction: column;
  justify-content:center;
}



.seedsLeft {
  display:grid;
  gap:12px;
}
.seedsRight {
  display:grid;
  gap:12px;
}


@media only screen and (min-width:1600px) {
  .main {
    padding:6rem;
  }
  .grid {
    grid-template-columns:1fr 1fr 1fr;
    transform:scale(150%);
  }
  .banner {
    transform:scale(150%);
  }
  .left{
    
  display:flex;
    grid-column:1/2;
  }
  .middle{
    grid-column:2/3;
  }
  .right{
    
  display:flex;
  }
  .seeds{
    flex-direction:row;
  }
}
